# Python virtual environments
.venv
venv/
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# PyTorch / Transformers model outputs
distilbert-phishing-model/
*.safetensors

# Dataset cache / local files
*.cache

# Editor folders
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
